body{
    padding: 0;
}
  
.page-wrapper{
    max-width:550px;
    margin-right: auto;
    margin-left: auto;
    padding:15px;
}
  
.page-wrapper .logo-img{
    margin-top:-10px;
}
  
  
.main{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
  
.sidebar{
    display:inline-block;
    width:19.5%;
    vertical-align: top;
    height:100%;
    background:#4d394b;
    position:relative;
    overflow-y:scroll;
    padding-bottom:100px;
}

.sidebarleft{
    display:inline-block;
    width:79%;
    vertical-align: top;
    height:100%;
    background:rgb(115, 96, 128);
    position: absolute;
    overflow-y:hidden;
    padding-bottom:100px;
}
  
.sidebar .slack-name {
    background:#3E313C;
    padding:15px 0px 15px 15px;
}
  
.sidebar .slack-name h2{
    color:#fff;
    font-size:18px;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:0px;
}
  
.sidebar .channel-list{
    margin-top:20px;
    background:#4d394b;
    position:relative;
}
  
.sidebar .channel-list .channel a{
    display:block;
    color:rgba(255,255,255,0.6);
    padding:3px 0px 3px 15px;
    width:90%;
    font-weight:300;
  
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
  
.sidebar .channel-list .channel a:hover{
    text-decoration: none;
    background:#3E313C;
}
  
.sidebar .channel-list .channel a.selected{
    background:#4c9689;
    color:#fff;
    text-decoration: none !important;
}
  
.sidebar .channel-list .channel.create{
    font-style: italic;
}
  
.sidebar .channel-list .list-head{
    margin-top:10px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
}
  
.sidebar .my-info{
    position:fixed;
    bottom:0;
    padding:15px;
    background:#3E313C;
    width:19.5%;
}
  
.sidebar .my-info .user-pic{
    display: inline-block;
    vertical-align: top;
    width:44px;
    height:44px;
    border-radius:4px;
}
  
.sidebar .my-info .user-info{
    padding-left:5px;
    display: inline-block;
    vertical-align: top;
}
  
.sidebar .my-info.user-info .user-name{
    color:#fff;
    font-size:16px;
    font-weight:bold;
}
  
.sidebar .my-info .user-info .options{
    color:#999;
    font-size:12px;
}
  
.sidebar .my-info .user-info .options a{
    color:#999;
    font-size:12px;
}
  
.sidebar .presence{
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    background: #ab9ba9;
    vertical-align: middle;
}
  
.sidebar .presence.online{
    background: #99d04a;
}
  
#showname{
    color:#fff;
    font-size:4px;
    font-weight:bold;
}

#textarea{
    position: absolute;
    bottom:0;
}

#chat_message{
    display:inline-block;
    vertical-align: top;
    height:107%;
    width:100%;
    overflow-y:scroll;
    padding:5px 15px 5px 15px;

}

#directuser{
    color:rgb(240, 196, 211);
    font-family: cursive;
    text-transform: initial;
    font-size: 18px;
}

.button{
    margin-top: 0.25cm;
}

