.css-input {
	font-size:18px; 
	text-align:left; 
	padding:8px; 
	border-width:6px; 
	border-radius:50px; 
	border-style:solid; 
	border-color:#f3cfff; 
	background-color:#e8fcfc; 
	box-shadow: 0px 0px 5px 0px rgba(71,222,202,.75); 
	font-weight:bold; 
	font-style:normal; 
	font-family:sans-serif;  
} 

.css-input:focus { 
	outline:none; 
} 

#titlefont{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 60px;
	letter-spacing: 0.6px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
}

#titlefont2{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
	letter-spacing: 0.6px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
}

#BtnEnter{
	position: relative;
	left: 0.1cm;
	background: #6c7e8a;
  	background-image: -webkit-linear-gradient(top, #6c7e8a, #52cca9);
  	background-image: -moz-linear-gradient(top, #6c7e8a, #52cca9);
	background-image: -ms-linear-gradient(top, #6c7e8a, #52cca9);
	background-image: -o-linear-gradient(top, #6c7e8a, #52cca9);
	background-image: linear-gradient(to bottom, #6c7e8a, #52cca9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 30px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

#BtnEnter:hover{
	background: #1ba3a8;
	background-image: -webkit-linear-gradient(top, #1ba3a8, #3cdec8);
	background-image: -moz-linear-gradient(top, #1ba3a8, #3cdec8);
	background-image: -ms-linear-gradient(top, #1ba3a8, #3cdec8);
	background-image: -o-linear-gradient(top, #1ba3a8, #3cdec8);
	background-image: linear-gradient(to bottom, #1ba3a8, #3cdec8);
	text-decoration: none;
}

#footer{
	position: relative;
	left: 0.1cm;
}
